body {
  background-color: #586878;
}

h1 {
  font-family: "Fantasque Sans Mono", Garamond, Georgia, Arial;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  color: #F9CB0F;
  margin-bottom: 60px;
}

.introduction-cont {
  font-size: 24px;
  color: #D3E4F1;
  padding: 0 10%;
}

.introduction-cont p,
.recipe {
  font-family: Cantarell, Garamond, Georgia, Aria;
}

.recipes-cont {
  padding: 20px 10%;
}

.list-recipe-title {
  color: #99E6B3;
  font-size: 32px;
}


.list-recipe li {
  padding: 7px 0 7px 0;
  margin-bottom: 10px;
  list-style-type: none;
}

.recipe {
  font-size: 24px;
  color: #D3E4F1;
  text-decoration: none;
}

.recipe:hover {
  color: yellow;
}
