body {
  background-color: #586878;
}

h1 {
  font-family: "Fantasque Sans Mono", Garamond, Georgia, Arial;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  color: #F9CB0F;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 60px auto;
}

.main-container {
  margin-bottom: 40px;
}

.sub-container {
  margin-left: 7%;
  margin-right: 7%;
}

h3 {
  font-family: "Iosevka Comfy", Garamond, Georgia, Aria;
  font-weight: 400;
  font-size: 28px;
  color: #99E6B3;
}


p,
li {
  font-size: 18px;
  color: #D3E4F1;
  text-decoration: none;
  font-family: Cantarell, Garamond, Georgia, Aria;
}

.footer-nav {
  text-align: center;
}

.footer-nav a {
  padding: 6px;
  font-size: 24px;
  color: white;
  text-decoration: none;
  border-bottom: 2px dashed white;
}

.footer-nav a:hover {
  color: yellow;
  border-bottom: 2px dashed yellow;
}
